<!-- <label>Enter Data</label><br>
<input type="text"[(ngModel)]="selectvalue"><br>

<button (click)="setData()">SetData</button><br>
<button (click)="addData()">Add</button><br>
<button (click)="updateData()">Update</button><br>
<button (click)="deleteData()">Delete</button><br>
<button (click)="getData()">Get</button><br>

<div>
    <button [routerLink]="['/company']">Company</button><br>
    <br>
    <button [routerLink]="['/person']">Person</button>
</div> -->

<router-outlet></router-outlet>